<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Album</title>
<link rel="stylesheet" type="text/css" href="../../static/book.css">
<script src="../../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/book.js"></script>
</head>
<body class="mkeBody">
<div class="mkeHeadBox"></div>
<div class="mkeContentBox">
<!--效果html开始-->
<section id="knowledge" class="viewBlock">
  <div class="bookBox"> <a class="lastBtn"><</a> <a class="nextBtn">></a>
    <div class="bookPage frist"> <img src="img/dataImg1.png" /> </div>
    <div class="bookPage runPage">
      <div class="bookWord"> <span>Image</span> haha. <span class="pageNumber">1</span> </div>
      <img src="../../static/Image/轮播图1.jpeg" /> </div>
    <div class="bookPage runPage">
      <div class="bookWord"> <span>Image</span> haha. <span class="pageNumber">2</span> </div>
      <img src="../../static/Image/轮播图1.jpeg" /> </div>
    <div class="bookPage runPage">
      <div class="bookWord"> <span>Image</span> haha. <span class="pageNumber">3</span> </div>
      <img src="../../static/Image/轮播图1.jpeg" /> </div>
    <div class="bookPage last">
      <div class="bookWord"> <span>Image</span> haha.</span> <span class="pageNumber">4</span> </div>
    </div>
  </div>
</section>
<!--效果html结束-->
</div>

</body>
</html>
