/**
    Reference: http://www.internetke.com/effects/menu/2015/1119/1833.html
 */

@charset "utf-8";

body, ul, dl, dd, dt, ol, li, p, h1, h2, h3, h4, h5, h6, textarea, form, select, fieldset, table, td, div, input {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none
}

h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal
}

body > div {
    margin: 0 auto
}

div {
    text-align: center
}

a img {
    border: 0
}

body {
    color: #333;
    text-align: center;
    font: 12px "微软雅黑";
}

ul, ol, li {
    list-style-type: none;
    vertical-align: 0
}

a {
    outline-style: none;
    color: #535353;
    text-decoration: none
}

a:hover {
    color: #D40000;
    text-decoration: none
}

.clear {
    height: 0;
    overflow: hidden;
    clear: both
}

.button {
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 0.25em 0.6em 0.3em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
    background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#A51715));
    background: -moz-linear-gradient(top, #ed1c24, #A51715);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}

.red:hover {
    background: #b61318;
    background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
    background: -moz-linear-gradient(top, #c9151b, #a11115);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
    color: #fff;
}

.red:active {
    color: #de898c;
    background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
    background: -moz-linear-gradient(top, #aa1317, #ed1c24);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

.cor_bs, .cor_bs:hover {
    color: #ffffff;
}

#socialShare {
    display: block;
    width: 66px;
    height: 66px;
    position: relative;
    z-index: 1;
    margin: 0px auto;
    left: -150px;
}

#socialShare .msb_main {
    display: block;
    width: 66px;
    height: 66px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    text-indent: -9999px;
    border: 4px solid #FFF;
    box-shadow: 0 0 5px #DDD;
    border-radius: 36px;
}

#socialShare .msb_main:hover {
    box-shadow: 0 0 5px #BBB;
}

#socialShare .msb_main img {
    width: 66px;
    height: 66px;
    cursor: pointer;
    border-radius: 23px;
    border: none;
    float: left
}

#socialShare .msb_network_button {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 9px;
    left: 92px;
    z-index: 1;
    cursor: pointer;
    text-indent: -9999px;
    display: none;
    background: no-repeat;
    border: 6px solid #f5f5f5;
    border-radius: 50%;
}

#socialShare .msb_network_button.sina {
    background: url(Image/social.png) no-repeat -130px -87px;
}

#socialShare .msb_network_button.tQQ {
    background: url(Image/social.png) no-repeat -185px -20px;
}

#socialShare .msb_network_button.qZone {
    background: url(Image/social.png) no-repeat -73px -20px;
}

#socialShare .msb_network_button.douban {
    background: url(Image/social.png) no-repeat -130px -151px;
}

#socialShare .msb_network_button.weixin {
    background: url(Image/social.png) no-repeat -73px -87px;
}

#socialShare .msb_network_button:hover {
    transition: -moz-transform 2s ease-out 0s;
    border: 6px solid #eee;
}
